<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <!-- Debugging args-->
  <arg name="use_rviz" default="true" />
  <arg name="robot_rviz_file" default="$(env CATKIN_WS)/src/ekfLab.rviz" />

  <!--launch rviz-->
  <group if="$(arg use_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg robot_rviz_file)"/>
  </group>
  
</launch>
